*~
MHD/Cocoa/Fortran_codes/Fortran_codes.xcodeproj/
*.DS_Store
bin/
work/
MHD/programs/TESTS/Doxygen_test/html/
MHD/pythons/.ipynb_checkpoints/
MHD/pythons/*.so

*.log

/Makefile

config.status

*.mod
*.xcbkptlist
*.xcuserstate
