*~
MHD/Cocoa/Fortran_codes/Fortran_codes.xcodeproj/
*.DS_Store
bin/
work/
MHD/programs/TESTS/Doxygen_test/html/

*.log

/Makefile

config.status

MHD_project.xcworkspace/contents.xcworkspacedata

MHD_project.xcworkspace/xcuserdata/liaoyangguang.xcuserdatad/UserInterfaceState.xcuserstate
*.mod
*.plist
*.xcbkptlist

*.xcbkptlist
